body {
    font-family: 'Archivo', sans-serif;
    background-color: white;
    margin: 0%;
    height: 500px;
}

.men{
    width: 100%;
    height: 113px;
    background-color: rgb(255, 246, 231);
    margin: 0px;
    display: flex;
   justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    margin-top: 2%;
}

.menu img {
    width: 15%;
    margin-right: 10%;
}

.menu a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.menu a.actual {
    font-weight: 700;
    text-decoration: none;
    color: rgb(243, 140, 1);
}

.menu a:hover {
    font-weight: 700;
    text-decoration: none;
    color: rgb(243, 140, 1);
}

.filtros {
    display: flex;
    justify-content: center;
     align-items: center;
}

.custom-button {
    background-color:rgb(243, 140, 1);
    color: rgb(255, 246, 231);
    font-weight: 700;
    font-size: medium;
    border: none;
    border-radius: 7px;
    width: 152px;
    height: 33px;
}

.custom-button:hover {
    background-color:rgb(0, 125, 255);
    color: rgb(123, 96, 96);
}

.archivo-custom {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.columna2{
    width: 22%;
    height: 62%;
    background-color: rgb(0, 125, 255);
    border-radius: 40px;
    position: sticky;
    top: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 60px 20px ;
    flex-direction: column;
}

.cuerpo {
    display: flex;
    height: 1320px;
    margin: 50px 50px;
}

.producto{
    width: 240px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 18px;
    border-radius: 18px;
}

.carrito{
    color: white;
    background-color: rgb(243, 140, 1);
    margin-top: 280px;
    padding: 17px 50px;
    font-size: 15px;
    font-family: "Archivo", sans-serif; 
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.carrito:hover{
    background-color: white;
    color: rgb(243, 140, 1);
}

.filtros{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;
}

.buscar{
    width: 740px;
    padding: 19px 50px;
    background-color: rgb(241, 240, 240);
    border: none;
    background-image: url(Imagenes/search3.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 13px center;
    border-radius: 13px;
    font-family: "Archivo", sans-serif; 
    font-size: 15px;
}

.buscar::placeholder{
    font-family: "Archivo", sans-serif; 
    font-size: 15px;
    color: rgb(144, 144, 144);
}

.filtros-botton{
    width: 55px;
    height: 55px;
    background-color: rgb(241, 240, 240);
    border: none;
    margin-left: 25px;
    border-radius: 10px;
}

.filter{
    width: 28px;
    cursor: pointer;
}

.filtro1{
    width: 130px;
    height: 130px;
    background-color: white;
    font-family: "Archivo", sans-serif; 
    font-size: 14px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    gap: 30px; 
    margin-top: 32px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 20%; 
    height: 330px; 
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.192);
    padding: 16px; 
    box-sizing: border-box; 
    margin-right: 2%;
}

.product-item button {
    background-color: rgb(243, 140, 1);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 11px;
    border-radius: 6px;
    border: none;
    width: 120px;
    height: 33px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 18%;
    }
    
.product-item button:hover {
    background-color: rgb(0, 125, 255);
    color: rgb(255, 255, 255);
}

.product-item img {
    width: 60%; 
    height: auto; 
    object-fit: cover; 
    margin: 8px 0; 
    margin-bottom: 4%;
}

.product-item label {
    text-align: left; 
    color: rgba(73, 73, 73, 0.528);
    font-size: 12px;
    font-weight: 300;
    margin: 0%;
}

.product-item p {
    color: rgb(0, 125, 255); 
    text-align: left; 
    color: rgb(73, 73, 73);
    font-size: 20px;
    font-weight: 700;
    margin: 0%;
    margin-top: 3%;
}

.product-item h3 {
    color: rgb(0, 125, 255); 
    text-align: left; 
    font-size: 18px;
    margin: 0%;
}

.product-item h4 {
    color: rgb(0, 125, 255); 
    text-align: left; 
    font-size: 12px;
    font-weight: 300;
    margin: 0%;
    color: rgba(73, 73, 73, 0.528);
    margin-top: 3%;
}


.product-item-info {
    padding: 2%;
}

.favoritos {
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-left: 9%;
    width: 78%;
}

.favo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.favoritos h2 {
    color: rgb(0, 125, 255);
    font-size: 20px;
}
